.no-bc {
    padding: 0;
}
.design-review-view {
    display: flex;
    flex-wrap: nowrap;
}
.design-review-view .review-info {
    width: 640px;
    padding: 80px;
    background-color: #F6F3F2;
}
.design-review-view .review-info > .brand {
    display: block;
    margin-bottom: 16px;
    color: #777;
    font-size: 18px;
    line-height: 23px;
}
.design-review-view .review-info .progress {
    margin-top: 24px;
    color: #002C5F;
    font-size: 18px;
    line-height: 30px;
}
.design-review-view .review-info .progress > span {
    display: inline-block;
    margin-right: 8px;
    color: #333;
    font-size: 18px;
    line-height: 30px;
}
.design-review-view .review-info .info-list {
    margin-top: 56px;
}
.design-review-view .review-info .info-list > li + li {
    margin-top: 40px;
}
.design-review-view .review-info .info-list > li  {
    color: #777;
    font-size: 16px;
    line-height: 24px;
}
.design-review-view .review-info .info-list > li > strong {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.design-review-view .timeline {
    padding: 80px;
}
.design-review-view .timeline .list {
    padding: 60px 0;
    border-bottom: 1px solid #e9e9e9;
}
.design-review-view .timeline .list:first-child {
    padding-top: 0;
}
.design-review-view .timeline .list .top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.design-review-view .timeline .list .top .name-cont {
    position: relative;
}
.design-review-view .timeline .list .top .name-cont .name {
    color: #002c5f;
    font-size: 24px;
    font-weight:500;
    line-height: 32px;
}
.design-review-view .timeline .list .top .name-cont > .name:hover {
    color: #00AAD2;
    text-decoration-line: underline;
}
.design-review-view .timeline .list .top .name-cont > .name:hover + .tooltip {
    display: block;
}
.design-review-view .timeline .list .top .name-cont .tooltip {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    width: 360px;
    height: 174px;
    padding: 32px 40px;
    margin-left: 16px;
    background: #353535;
    z-index: 100;
}
.design-review-view .timeline .list .top .name-cont .tooltip em {
    display: block;
    margin-bottom: 16px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.design-review-view .timeline .list .top .name-cont .tooltip span {
    display: block;
    color: #e9e9e9;
    font-size: 16px;
    line-height: 24px;
}
.design-review-view .timeline .list .top .name-cont .tooltip span + span {
    margin-top: 8px;
}
.design-review-view .timeline .list .top .date {
    color: #999;
    font-size: 14px;
    line-height: 20px;
} 
.design-review-view .timeline .list .top .state {
    display: block;
    height: 28px;
    padding: 0 10px;
    background-color: #777;
    color: #fafafa;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    line-height: 28px;
}
.design-review-view .timeline .list .txt-cont {
    position: relative;
    margin-top: 40px;
}
.design-review-view .timeline .list .txt-cont .txt {
    height: auto;
    color: #333;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.design-review-view .timeline .list .txt-cont .btn-more {
    position: relative;
    margin-top: 24px;
    color: #999;
    font-size: 16px;
    line-height: 24px;
}
.design-review-view .timeline .list .txt-cont .btn-more:before {
    position: absolute;
    top: 5px;
    right: -14px;
    width: 13px;
    height: 13px;
    background: url('../images/common/ico_slt_box_off.svg') no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    content: '';
}
.design-review-view .timeline .list .txt-cont.short .txt{
    height: 240px;
}
.design-review-view .timeline .list .txt-cont.short .btn-more:before {
    transform: rotate(0deg);
}
.design-review-view .timeline .file-cont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 56px;
}
.design-review-view .timeline .file-cont > li {
    flex: 1;
    width: 211px;
    max-width: 10.9895vw;
}
.design-review-view .timeline .file-cont > li+li {
    margin-left: 16px;
    margin-left: 0.8333vw;
}
.design-review-view .timeline .file-cont .img{
    width: 100%;
    height: 7.291666vw;
    max-height: 140px;
}
.design-review-view .timeline .file-cont .img img {
    width: 100%;
}
.design-review-view .timeline .file-cont .no-img {
    background: #e9e9e9 url('../../assets/images/designreview/ico_rev_view_noimg.svg') no-repeat center;
    background-size: 1.71875vw 1.40625vw;
}
.design-review-view .timeline .file-cont .btn-icon {
    position: relative;
    display: block;
    width: 100%;
    padding-right: 20px;
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}
.design-review-view .timeline .file-cont .btn-icon:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-size: contain;
    content: '';
}
.design-review-view .timeline .file-cont .size {
    display: block;
    margin-top: 6px;
    color: #999;
    font-size: 14px;
    line-height: 20px;
}
.design-review-view .timeline .dividing {
    width: 160px;
    height: 30px;
    margin: -15px auto 0;
    background-color: #fff;
    color: #002c5f;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.design-review-view .timeline > .cta-outer {
    margin-top: 60px;
}
.design-review-view .timeline .comment-box > .btn {
    justify-content: space-between;
    width: 240px;
    height: 50px;
    padding: 0 20px 0 30px;
    background-color: #353535;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    text-align: left;
}
.design-review-view .timeline .comment-box > .btn:after {
    display: inline-block;
    width: 15px;
    height: 8px;
    background: url('../images/common/ico_go_top.svg') no-repeat center center;
    content: '';
}
.design-review-view .timeline .comment-box > .cont {
    padding: 40px 80px;
}
.design-review-view .timeline .comment-box > .cont .tit {
    display: block;
    color: #000;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.design-review-view .timeline .comment-box > .cont .txt-cont {
    margin-top: 24px;
    border: 1px solid #e9e9e9;
}
.design-review-view .timeline .comment-box > .cont .txt-cont .txtarea {
    padding: 16px;
}
.design-review-view .timeline .comment-box > .cont .txt-cont .add-file {
    padding: 16px;
    border-top: 1px solid #e9e9e9;
} 
.design-review-view .timeline .comment-box > .cont .txt-cont .add-file > * {
    display: inline-block;
}
.design-review-view .timeline .comment-box > .cont .txt-cont .add-file label {
    color: #777;
    font-size: 16px;
    line-height: 16px;
    text-decoration: underline;
}
.design-review-view .timeline .comment-box > .cont .txt-cont .add-file input[type="file"]{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);border:0; 
}
.design-review-view .timeline .comment-box > .cont .txt-cont .add-file .switch-item-list {
    padding: 0;
    margin: 0;
}
.design-review-view .timeline .comment-box > .cont .cta-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    text-align: left;
}
