
@import url(../assets/css/reset.css);

:root {
    /* color */
    --beige-color: beige;

    /* fontsize */
    --font-large: 20px;
    --font-medium: 16px;
    --font-small: 12px;
    --font-micro: 9px;
}

/* accordion */
.acco1  {
    width: 100%;
    border: 1px solid #000;
    background-color: var(--beige-color);
}
.acco1 > li:first-child {
    border-top: none;
}
.acco1 .btn {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #000;
    font-size: var(--font-medium);
    font-weight: bold;
    cursor: pointer;
}
.acco1 .cont {
    display: none;
    padding: 15px 5px;
    font-size: var(--font-small);
    border-bottom: 1px solid #000;
}
.acco1 li.active .cont {
    display: block;
}
.acco1 li:last-child .btn,
.acco1 li:last-child .cont {
    border-bottom: none;
}
.acco1 li.active:last-child .btn {
    border-bottom: 1px solid #000;
}